# Python 3 imports
# Base
pika
PyYAML
pytz

# plugin sysstat
psutil

#dns
#jsonrpclib
dnspython

# plugin dbus-notify
#dbus

# plugin proximity
# apt install libbluetooth-dev
# and revert to PyBluez when https://github.com/pybluez/pybluez/issues/416 is closed
#PyBluez
#git+https://github.com/pybluez/pybluez.git@master  > works

# plugin cli
#readline

# voice-commands
#pyaudio
