# Python 3 imports
# Base
pika
PyYAML
pytz

# plugin sysstat
psutil

#dns
#jsonrpclib
dnspython

# plugin dbus-notify
#dbus

# plugin jabber
# see requirements-jabber.txt

# plugin proximity
# apt install libbluetooth-dev
# and revert to PyBluez when https://github.com/pybluez/pybluez/issues/416 is closed
#PyBluez
#git+https://github.com/pybluez/pybluez.git@master  > works

# plugin rgb-led
# smbus2 > works

# plugin mpd-client
# see requirements-mpd-client.txt

# plugin transmission
transmissionrpc

# plugin evdev
# see requirements-evdev-plugin.txt

# plugin cli
#readline

# voice-commands
#pyaudio

# plugin google-calendar
# see requirements-google-calendar.txt

# plugin caldav-calendar
# see requirements-caldav-calendar.txt

# plugin httpserver-plugin
# see requirements-httpserver-plugin.txt

# plugin raspberry
wiringpi; platform_system != "Windows"
