# core settings
core:
 timezone   : Europe/Zurich

# plugin configurations
xmpp:
 destination: your@jid
 jid        : botJid/resource
 password   : password

mpd:
 radio_url  : http://stream.srg-ssr.ch/regi_ag_so/aacp_64.m3u
 sleep_url  : http://www.radioswissjazz.ch/live/aacp.m3u
 wakeup_url : http://stream.srg-ssr.ch/regi_ag_so/aacp_64.m3u
 host       : 
 password   : 
 port       : 

# configure managed plugins
managed_plugins:
 - plugin   : espeak
   hostname : hostname

 - plugin   : mpd
   hostname : hostname

 - plugin   : espeak
   hostname : hostname
