[broker]
host = localhost
port = 5672
user = test
password = test
vhost = test

[xmpp_alert]
jid =
password = 
destination = 

[mpd]
host = ""
port = ""
password = ""
radio_url = ""
wakeup_url = ""
sleep_url = ""