schema   : mysql           #sqlite, postgres
host     : 
port     :                 #can be empty
user     : 
password : 
database : 

webuser  :                 # htaccess user
webpasswd:                 # htaccess password