{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h3>Alert Responses</h3>
<table class="table table-striped table-condensed" id='dt_table'>
	<thead>
		<tr>
			<th>Time</th>
			<th>Message</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th><input style='width:100%;'/></th>
			<th><input style='width:100%;'/></th>
		</tr>
	</tfoot>
	<tbody>
		{% for (time, message) in alertMessages %}
		<tr>
			<td valign="top"><nobr>{{ time }}</nobr></td>
			<td>{% for line in message %}
				{{ line }}<br />
				{% endfor %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
