{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h3>Host Status Details</h3>
<ul class="nav nav-tabs" id="statusTab">
	{% for uuid in status %}
		{% for plugin in status[uuid] %}
			<li><a href="#{{ uuid }}{{ plugin }}">{{ hostnames[uuid] }}{{ plugin }}</a></li>
		{% endfor %}
	{% endfor %}
</ul>

<div class="tab-content">
	{% for uuid in status %}
		{% for plugin in status[uuid] %}
			<div class="tab-pane" id="{{ uuid }}{{ plugin }}">
			UUID: {{ uuid }}:
			<table class="table table-striped table-condensed">
			{% for detailName in status[uuid][plugin] %}
				<tr>
					<td>{{ detailName }}</td>
					<td>{{ status[uuid][plugin][detailName] }}</td>
				</tr>
			{% endfor %}
			</table>
			</div>
			<script>
				$('#{{ uuid }}{{ plugin }} a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			</script>
		{% endfor %}
	{% endfor %}
</div>

<script>
	$(function () {
	    $('#statusTab a:first').tab('show');
	  })
</script>
{% endblock %}