{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

{% for uuid in status %}
	<h3><a href="#" data-toggle="tooltip" title="{{ uuid }}">{{ hostnames[uuid] }}</a></h3>
	<ul class="nav nav-tabs" id="{{ uuid }}">
		{% for plugin in status[uuid] %}
			<li><a href="#{{ uuid }}{{ plugin }}">{{ plugin }}</a></li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		{% for plugin in status[uuid] %}
			<div class="tab-pane" id="{{ uuid }}{{ plugin }}">
			<table class="table table-striped table-condensed">
			{% for detailName in status[uuid][plugin] %}
				<tr>
					<td>{{ detailName }}</td>
					<td>{{ status[uuid][plugin][detailName] }}</td>
				</tr>
			{% endfor %}
			</table>
			</div>
		{% endfor %}
	</div>

	<script>
		$('#{{ uuid }} a').click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		})

		$(function () {
		    $('#{{ uuid }} a:first').tab('show');
		  })
	</script>
{% endfor %}

{% endblock %}